{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Vehicle Model</title>
</head>
<body>
    {% block content %}
    {% include 'includes/header.html' %}
        <div class="container"><br/><br/>
            <table>
                <tr>
                    <th>Maker</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Logo</th>
                    <th>Classification</th>
                    <th>Transmission Type</th>
                </tr>
                {% for indiv in Car_models %}
                <tr>
                    <td>{{ indiv.make }}</td>
                    <td>{{ indiv.model }}</td>
                    <td>{{ indiv.year }}</td>
                    <td>{{ indiv.logo }}</td>
                    <td>{{ indiv.classification }}</td>
                    <td>
                        {% for transmission in indiv.autoorsemi.all %}
                            {{ transmission.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>  
                {% endfor %}        
            </table>
            
        </div>

        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if Car_models.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ Car_models.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Page {{ Car_models.number }} of {{ Car_models.paginator.num_pages }}</a></li>
            {% if Car_models.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ Car_models.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ Car_models.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
            </ul>
        </nav>

    {% include 'includes/footer.html' %}
    {% endblock %}
</body>
</html>
