    {% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Vehicle Logo</title>
</head>
<body class="with-image">
    {% block content %}
    {% include 'includes/header.html' %}

        {% for logs in logo %}
        <div class="container container_image dep_container"><br/><br/>
            <div class="dep_box">
                <div class="dep_image">
                    <img class="resized_image" src="{{ logs.logo_images.url }}" alt="">
                </div>
                <table>
                    <tr>
                        <th class="th_center">{{ logs.name }}</th>
                    </tr>
                    <tr>
                        <td>{{ logs.description }}</td>
                    </tr>         
                </table>
            </div>
        </div>
        {% endfor %}

        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if logo.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ logo.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Page {{ logo.number }} of {{ logo.paginator.num_pages }}</a></li>
            {% if logo.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ logo.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ logo.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
            </ul>
        </nav>


    {% include 'includes/footer.html' %}
    {% endblock %}
</body>
</html>
